{namespace LexiconIcon}

/**
 * This renders an icon element based on the lexicon icon definition
 * found at http://liferay.github.io/lexicon/content/icons-lexicon/
 *
 * @param? elementClasses
 * @param spritemap
 * @param symbol
 */
{template .render}
	<svg aria-hidden="true" class="lexicon-icon{$elementClasses ? ' ' + $elementClasses : ''}">
		<use xlink:href="{$spritemap}#{$symbol}" />
	</svg>
{/template}